// Laptops
@media screen and (max-width:1366px) {

   // Global
   .container {
      padding: 0 2rem;
   }

   .h1 {
      font-size: 2.6rem;
   }


   // Blocks
   .boxes::after {
      width: 100px;
      height: 93px;
      left: -51px;
      top: -50px;
      background-size: cover;
   }

   .boxes {
      justify-content: space-evenly;
   }


   // Header
   .landing-header {
      font-size: 3.45rem;
      line-height: 5rem;
   }

   .product-name__input {
      padding-right: 3.125rem;
   }

   // Kits  Section
   .kits-info-img::after {
      display: none;
   }

   // Benefits 
   .benefits-content-img::after {
      display: none;
   }

}

// Tablet | Landscape
@media screen and (max-width:1024px) {

   // Global

   // Header
   .menu-list {
      display: none;
   }

   // Kits
   .kits-info-img {
      max-width: 400px;
   }

   .kits {
      .h1 {
         margin-bottom: 2rem;
      }

      .body {
         font-size: 1.1rem;
         margin-bottom: 1rem;
      }
   }

   // Benefits
   .benefits-content-img .disscount {
      width: 170px;
      height: 170px;
      font-size: 3rem;
      line-height: 3.2rem;
   }

   .benefits-content-img-circle {
      width: 300px;
      height: 300px;
   }


}

@media screen and (max-width:920px) {

   // Blocks
   .subscription {
      padding: 58px 70px 66px 70px;
   }

   // Kits 
   .kits-info {
      flex-direction: column;

      &-img {
         align-self: flex-end;
      }
   }

   // Benefits 
   .benefits-content {
      flex-direction: column-reverse;
      row-gap: 30px;
   }

   .benefits-content__content {
      text-align: right;
      align-self: flex-end;

      .strapline {
         text-align: right;
      }

      .primary-btn {
         align-self: flex-end;
      }

      .body {
         margin-top: 26px;
         margin-bottom: 19px;
      }

   }

   .benefits-content__content .h3.underlined::after {
      right: 3px;
      left: auto;
   }
}

// Tablet | Portrait
@media screen and (max-width:768px) {

   // Blocks 
   .services {
      .h3 {
         font-size: 1.7rem;
         line-height: 2.3rem;
      }

      .body {
         font-size: .9rem;
      }
   }

   .subscription {
      padding: 30px 30px;

      .h2 {
         font-size: 1.8rem;
         line-height: 2.5rem;
      }
      .body {
         margin-top: 2rem;
         margin-bottom: 2rem;
         font-size: 1rem;
      }
   }

   .subscription .subsciption-form label {
      flex-direction: column;
      row-gap: 10px;
   }

   .subscription .subsciption-form .subscription-form {
      max-width: 100%;
      padding: 1rem 0;
   }

   .subscription .subsciption-form .subscription-form {
      padding: .5em 0;

      &::placeholder {
         text-align: center;
      }
   }
   
   .subscription .subsciption-form label .primary-btn {
      padding: 15px 50px;
   }



   // Blocks
   .h2-benefits {
      font-size: 2rem;
      line-height: 2.5rem;
   }

   // Header 
   .landing-header {
      font-size: 3rem;
      line-height: 4rem;
   }
}

// Mobile, landscape
@media screen and (max-width:568px) {

   // Blocks
   .subscription {
      padding: 15px;
   }
   
   .container {
      padding: 0 1rem;
   }

   // Header 
   .product-name__input {
      padding: 16px 7px 13px 15px;
      width: 50%;
   }

   .product-name .primary-btn {
      padding: 22.5px 20px;
   }

   // Landing
   .landing-wrapper {
      margin-top: 100px;
   }
   
   // Benefits 
   .benefits-content-img-circle {
      display: none;
   }
   .benefits-content-img {
      min-width: 100%;
      margin-right: 0;
       
      img {
         width: 100%;
      }
   }

   // Footer 
   .footer-item {
      min-width: 100%;
   }
   .footer-item:not(:last-child) {
      border-bottom: 1px solid $white-color;
      padding-bottom: 9px;
   }
}

// Mobile, portrait
@media screen and (max-width:360px) {

   .landing-header {
      font-size: 2.5rem;
      line-height: 3rem;
   }

   .body {
      font-size: 1rem;
   }

   @media screen and (max-height: 568px) {}


   .container {
      padding: 0 .5rem;
   }
}